* {
  box-sizing: border-box;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

h1 {
  text-align: center;
}

form {
  width: 400px;
}

/* Code for exercise 01-navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: flex-end;
}

li {
  float: left;
  margin-right: 20px;
}

li a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background: var(--violetred);
}
/* Code for exercise 02-cards */

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  flex-basis: calc(32.33% - 180px);
  border: 1px solid var(--black);
  padding: 10px;
  margin-left: 10px;
}

.cardimage {
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  object-fit: cover;
  height: 250px;
  width: 250px;
  margin: 15px 25px 0px 25px;
}

.card p {
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.cardButton {
  background-color: var(--black);
  color: var(--white);
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 40px;
}
.card button:hover {
  background-color: var(--violetred);
  color: var(--white);
}

p.solid {
  border-style: solid;
}

.imagecontainer {
  padding: 15px;
}
.cardtext {
  margin-top: 0;
}

/* Code for exercise 03-table */
table,
th,
td {
  border: 1px solid var(--black);
}

.tdCenter {
  text-align: center;
  background: var(--violetred);
  color: var(--white);
  padding: 10px;
}

th {
  padding: 10px;
}

th {
  background: var(--black);
  color: var(--white);
}

table tbody tr:hover {
  background-color: var(--orange);
  color: var(--black);
}

.containerForTable {
  display: flex;
  justify-content: center;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.formDivInput {
  margin-top: 15px;
}

.inputfield {
  display: inline-block;
  margin-left: 10px;
  width: 50%;
}

.buttonStyle {
  display: inline-block;
  width: 49%;
  margin-top: 20px;
  height: 35px;
}

.submitStyle {
  background: var(--black);
  color: var(--white);
}
.submitStyle:hover {
  background: var(--violetred);
  color: var(--white);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  justify-content: center;
}
